/* p:first-child{
    color:aqua;
} */

/* p:first-of-type{
    color:aqua
} */

/* p:last-child{
    color:aqua;
} */

/* p:last-of-type{
    color:aqua;
} */

/* p:nth-child(2){
    color:blueviolet;
} */

/* p:nth-of-type(2){
    color:rgb(38, 91, 137);
} */

/* p:nth-child(2n){
    color:blue;
} */

p:nth-of-type(2n){
    color:blueviolet;
}